{% extends 'base.html' %}

{% block title %}Take the Calibration Test{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display-4">Calibration Questionnaire</h1>
    <form id="calibrationForm">
        <div id="questionsContainer">
            <!-- Questions will be dynamically inserted here by questionnaire.js -->
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
    
</div>
<!-- New section for displaying the score and the improvement link -->
<div id="resultsSummary" class="mt-4 d-none">
    <div id="totalScore" class="alert alert-success"></div>
    <a href="how-to-improve.html" class="btn btn-primary">Learn How to Improve</a>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bignumber.js/bignumber.min.js"></script>
<script defer src="/static/js/questionnaire.js" type="module"></script>
{% endblock %}